### DATA CLEANUP

In [1]:
import pandas as pd
import numpy as np

concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [2]:
concrete_data.shape

(1030, 9)

In [3]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [4]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [5]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [6]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [7]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

# B: NORMALIZE THE DATA

In [8]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [9]:
n_cols = predictors_norm.shape[1] # number of predictors
n_cols

8

In [10]:
# Use the Keras library to build a neural network 
import keras

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:521: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:522: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [11]:

from keras.models import Sequential
from keras.layers import Dense

In [12]:

# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

### RANDOM SPLIT OF DATA INTO TRAINING AND TEST SETS BY 30%

In [14]:

from sklearn.model_selection import train_test_split

In [15]:
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

### TRAIN THE MODEL ON TRAINING DATA USING 50 EPOCHS

In [17]:

# build the model
model = regression_model()

In [18]:
#fit the model
model.fit(X_train, y_train, epochs=50, verbose=2)

Epoch 1/50
 - 1s - loss: 1565.6828
Epoch 2/50
 - 0s - loss: 1548.6063
Epoch 3/50
 - 0s - loss: 1531.2429
Epoch 4/50
 - 1s - loss: 1513.6089
Epoch 5/50
 - 0s - loss: 1495.0792
Epoch 6/50
 - 0s - loss: 1476.1071
Epoch 7/50
 - 1s - loss: 1455.8968
Epoch 8/50
 - 1s - loss: 1434.9938
Epoch 9/50
 - 0s - loss: 1413.2924
Epoch 10/50
 - 0s - loss: 1390.8688
Epoch 11/50
 - 0s - loss: 1367.6612
Epoch 12/50
 - 1s - loss: 1343.5523
Epoch 13/50
 - 0s - loss: 1318.6206
Epoch 14/50
 - 0s - loss: 1292.9196
Epoch 15/50
 - 0s - loss: 1266.3616
Epoch 16/50
 - 0s - loss: 1238.4423
Epoch 17/50
 - 0s - loss: 1210.7318
Epoch 18/50
 - 0s - loss: 1181.9175
Epoch 19/50
 - 0s - loss: 1152.0133
Epoch 20/50
 - 0s - loss: 1121.9676
Epoch 21/50
 - 0s - loss: 1090.7421
Epoch 22/50
 - 1s - loss: 1059.4625
Epoch 23/50
 - 0s - loss: 1027.5298
Epoch 24/50
 - 0s - loss: 995.6063
Epoch 25/50
 - 0s - loss: 963.3379
Epoch 26/50
 - 0s - loss: 930.6461
Epoch 27/50
 - 0s - loss: 898.2923
Epoch 28/50
 - 0s - loss: 866.1460
Epoch 29/50
 - 0s - loss: 833.4700
Epoch 30/50
 - 0s - loss: 801.7603
Epoch 31/50
 - 1s - loss: 770.5241
Epoch 32/50
 - 0s - loss: 739.7799
Epoch 33/50
 - 1s - loss: 709.8499
Epoch 34/50
 - 0s - loss: 680.3139
Epoch 35/50
 - 1s - loss: 651.9996
Epoch 36/50
 - 0s - loss: 624.0023
Epoch 37/50
 - 0s - loss: 597.2186
Epoch 38/50
 - 0s - loss: 571.1703
Epoch 39/50
 - 0s - loss: 545.7044
Epoch 40/50
 - 0s - loss: 521.2509
Epoch 41/50
 - 1s - loss: 497.6095
Epoch 42/50
 - 0s - loss: 475.2197
Epoch 43/50
 - 0s - loss: 453.7177
Epoch 44/50
 - 0s - loss: 433.4627
Epoch 45/50
 - 0s - loss: 414.1958
Epoch 46/50
 - 0s - loss: 396.0208
Epoch 47/50
 - 0s - loss: 378.8394
Epoch 48/50
 - 0s - loss: 362.7427
Epoch 49/50
 - 0s - loss: 347.7783
Epoch 50/50
 - 0s - loss: 333.6005

### EVALUATE THE MODEL ON THE TEST DATA AND COMPUTE MEAN SQUARED ERROR

In [20]:

Test_data = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
Test_data

309/309 [==============================] - 0s 650us/step

309.57857066527924

In [21]:
# The mean squared error between the predicted concrete strength and the actual concrete strength
from sklearn.metrics import mean_squared_error

In [22]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)

print("Mean squared error: %.2f"
      % mean_squared_error(y_test, y_pred))

Mean squared error: 309.58

### LIST OF 50 MEAN SQUARED ERRORS

In [24]:
List_Of_Mean_Squared_Errors = 50
mean_squared_errors = []

for i in range(0, List_Of_Mean_Squared_Errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=50, verbose=0)
    
    MEAN_SQUARED_ERRORS = model.evaluate(X_test, y_test, verbose=0)
    print("MEAN_SQUARED_ERRORS "+str(i+1)+": "+str(MEAN_SQUARED_ERRORS))
    y_pred = model.predict(X_test)   
    
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

MEAN_SQUARED_ERRORS 1: 144.8920607582265
MEAN_SQUARED_ERRORS 2: 130.56924774268685
MEAN_SQUARED_ERRORS 3: 82.18858912693258
MEAN_SQUARED_ERRORS 4: 67.41328727697477
MEAN_SQUARED_ERRORS 5: 60.84771321120771
MEAN_SQUARED_ERRORS 6: 62.50919532158614
MEAN_SQUARED_ERRORS 7: 59.249985531310045
MEAN_SQUARED_ERRORS 8: 40.993261331107625
MEAN_SQUARED_ERRORS 9: 43.9277343996906
MEAN_SQUARED_ERRORS 10: 42.97737778351917
MEAN_SQUARED_ERRORS 11: 41.31478462095785
MEAN_SQUARED_ERRORS 12: 37.98787663283857
MEAN_SQUARED_ERRORS 13: 46.341967993183815
MEAN_SQUARED_ERRORS 14: 47.552322214861135
MEAN_SQUARED_ERRORS 15: 39.12615616190395
MEAN_SQUARED_ERRORS 16: 34.969524241573986
MEAN_SQUARED_ERRORS 17: 38.15044547516165
MEAN_SQUARED_ERRORS 18: 37.73076858026696
MEAN_SQUARED_ERRORS 19: 37.096972629090345
MEAN_SQUARED_ERRORS 20: 39.55943489691972
MEAN_SQUARED_ERRORS 21: 35.010530910059856
MEAN_SQUARED_ERRORS 22: 35.647748299015376
MEAN_SQUARED_ERRORS 23: 32.77174952732321
MEAN_SQUARED_ERRORS 24: 37.3523809932968
MEAN_SQUARED_ERRORS 25: 37.314498531008226
MEAN_SQUARED_ERRORS 26: 38.3599423158516
MEAN_SQUARED_ERRORS 27: 34.01424261049931
MEAN_SQUARED_ERRORS 28: 32.88516285967287
MEAN_SQUARED_ERRORS 29: 40.32948956288952
MEAN_SQUARED_ERRORS 30: 38.70795025871795
MEAN_SQUARED_ERRORS 31: 36.362717736500365
MEAN_SQUARED_ERRORS 32: 34.538675326745484
MEAN_SQUARED_ERRORS 33: 35.899730225597
MEAN_SQUARED_ERRORS 34: 36.734418603594634
MEAN_SQUARED_ERRORS 35: 36.669030717275675
MEAN_SQUARED_ERRORS 36: 41.78344168555004
MEAN_SQUARED_ERRORS 37: 33.40038015001414
MEAN_SQUARED_ERRORS 38: 39.27819127943909
MEAN_SQUARED_ERRORS 39: 35.155788088307794
MEAN_SQUARED_ERRORS 40: 31.164970657200488
MEAN_SQUARED_ERRORS 41: 39.584948332950134
MEAN_SQUARED_ERRORS 42: 30.942312259118534
MEAN_SQUARED_ERRORS 43: 36.23998809863834
MEAN_SQUARED_ERRORS 44: 38.49966023269209
MEAN_SQUARED_ERRORS 45: 38.634200704136326
MEAN_SQUARED_ERRORS 46: 38.58044324955122
MEAN_SQUARED_ERRORS 47: 35.200359739531976
MEAN_SQUARED_ERRORS 48: 36.865836060162884
MEAN_SQUARED_ERRORS 49: 36.64010162723874
MEAN_SQUARED_ERRORS 50: 40.51713742253078

### THE MEAN AND THE STANDARD DEVIATION OF THE MEAN SQUARED ERRORS

In [25]:
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

Mean: 44.609694154674806
Standard Deviation: 21.32416180618988

# DISCUSSION

How does the mean of the mean squared errors compare to that from Step A? 
The Mean of the Mean Squared Errors for Step B is higher compared to Step A.  For Step B, we have applied the normalization of data. The result is a suitable Mean. However, it is consider higher at this point.