### DATA CLEANUP

In [1]:
import pandas as pd
import numpy as np

concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [2]:
concrete_data.shape

(1030, 9)

In [3]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [4]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [5]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [6]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [7]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

### NORMALIZE THE DATA

In [8]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [9]:
n_cols = predictors_norm.shape[1] # number of predictors
n_cols

8

In [10]:
# Use the Keras library to build a neural network 
import keras

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:521: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:522: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [11]:

from keras.models import Sequential
from keras.layers import Dense

In [12]:

# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

### RANDOM SPLIT OF DATA INTO TRAINING AND TEST SETS BY 30%

In [13]:

from sklearn.model_selection import train_test_split

In [14]:
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

# C: TRAIN THE MODEL ON TRAINING DATA USING 100 EPOCHS

In [15]:

# build the model
model = regression_model()

In [16]:
#fit the model
model.fit(X_train, y_train, epochs=100, verbose=2)

Epoch 1/100
 - 1s - loss: 1607.5161
Epoch 2/100
 - 0s - loss: 1591.6902
Epoch 3/100
 - 0s - loss: 1576.0464
Epoch 4/100
 - 0s - loss: 1560.7706
Epoch 5/100
 - 0s - loss: 1545.2630
Epoch 6/100
 - 0s - loss: 1529.6141
Epoch 7/100
 - 0s - loss: 1513.7592
Epoch 8/100
 - 0s - loss: 1497.2538
Epoch 9/100
 - 1s - loss: 1480.6025
Epoch 10/100
 - 0s - loss: 1462.9175
Epoch 11/100
 - 0s - loss: 1444.6385
Epoch 12/100
 - 0s - loss: 1425.6807
Epoch 13/100
 - 0s - loss: 1405.4045
Epoch 14/100
 - 0s - loss: 1384.0113
Epoch 15/100
 - 0s - loss: 1361.8511
Epoch 16/100
 - 0s - loss: 1338.1283
Epoch 17/100
 - 0s - loss: 1313.2974
Epoch 18/100
 - 0s - loss: 1287.0720
Epoch 19/100
 - 0s - loss: 1259.2136
Epoch 20/100
 - 0s - loss: 1229.9606
Epoch 21/100
 - 0s - loss: 1198.8462
Epoch 22/100
 - 0s - loss: 1166.3927
Epoch 23/100
 - 0s - loss: 1133.0914
Epoch 24/100
 - 0s - loss: 1098.6652
Epoch 25/100
 - 0s - loss: 1063.6695
Epoch 26/100
 - 0s - loss: 1028.3633
Epoch 27/100
 - 0s - loss: 992.7591
Epoch 28/100
 - 0s - loss: 956.9033
Epoch 29/100
 - 0s - loss: 921.1557
Epoch 30/100
 - 0s - loss: 886.0511
Epoch 31/100
 - 0s - loss: 850.9643
Epoch 32/100
 - 0s - loss: 816.8641
Epoch 33/100
 - 0s - loss: 783.0005
Epoch 34/100
 - 0s - loss: 749.8853
Epoch 35/100
 - 0s - loss: 717.8345
Epoch 36/100
 - 0s - loss: 686.6263
Epoch 37/100
 - 0s - loss: 656.7184
Epoch 38/100
 - 0s - loss: 627.6384
Epoch 39/100
 - 0s - loss: 599.8437
Epoch 40/100
 - 0s - loss: 573.2034
Epoch 41/100
 - 0s - loss: 547.8345
Epoch 42/100
 - 0s - loss: 523.8555
Epoch 43/100
 - 0s - loss: 500.6214
Epoch 44/100
 - 0s - loss: 479.5440
Epoch 45/100
 - 0s - loss: 458.9109
Epoch 46/100
 - 0s - loss: 439.9579
Epoch 47/100
 - 0s - loss: 421.7921
Epoch 48/100
 - 0s - loss: 404.9471
Epoch 49/100
 - 0s - loss: 389.3999
Epoch 50/100
 - 0s - loss: 374.7294
Epoch 51/100
 - 0s - loss: 361.2647
Epoch 52/100
 - 0s - loss: 348.7081
Epoch 53/100
 - 0s - loss: 337.0713
Epoch 54/100
 - 0s - loss: 326.0117
Epoch 55/100
 - 0s - loss: 316.1157
Epoch 56/100
 - 0s - loss: 306.7940
Epoch 57/100
 - 1s - loss: 298.0958
Epoch 58/100
 - 0s - loss: 290.2586
Epoch 59/100
 - 0s - loss: 282.8244
Epoch 60/100
 - 0s - loss: 275.9426
Epoch 61/100
 - 0s - loss: 269.6011
Epoch 62/100
 - 0s - loss: 263.6724
Epoch 63/100
 - 0s - loss: 258.3177
Epoch 64/100
 - 0s - loss: 253.0085
Epoch 65/100
 - 0s - loss: 248.3593
Epoch 66/100
 - 0s - loss: 243.7724
Epoch 67/100
 - 0s - loss: 239.7426
Epoch 68/100
 - 0s - loss: 235.7773
Epoch 69/100
 - 0s - loss: 232.1915
Epoch 70/100
 - 0s - loss: 228.6538
Epoch 71/100
 - 0s - loss: 225.4196
Epoch 72/100
 - 0s - loss: 222.2903
Epoch 73/100
 - 0s - loss: 219.3667
Epoch 74/100
 - 0s - loss: 216.4393
Epoch 75/100
 - 0s - loss: 213.8005
Epoch 76/100
 - 0s - loss: 211.2759
Epoch 77/100
 - 0s - loss: 208.8333
Epoch 78/100
 - 0s - loss: 206.3842
Epoch 79/100
 - 0s - loss: 204.1829
Epoch 80/100
 - 0s - loss: 201.8890
Epoch 81/100
 - 1s - loss: 199.6889
Epoch 82/100
 - 0s - loss: 197.6702
Epoch 83/100
 - 0s - loss: 195.5127
Epoch 84/100
 - 0s - loss: 193.5758
Epoch 85/100
 - 1s - loss: 191.5970
Epoch 86/100
 - 0s - loss: 189.6134
Epoch 87/100
 - 0s - loss: 187.6737
Epoch 88/100
 - 0s - loss: 185.8881
Epoch 89/100
 - 0s - loss: 184.0565
Epoch 90/100
 - 0s - loss: 182.2013
Epoch 91/100
 - 0s - loss: 180.4534
Epoch 92/100
 - 0s - loss: 178.6576
Epoch 93/100
 - 0s - loss: 176.8904
Epoch 94/100
 - 0s - loss: 175.1608
Epoch 95/100
 - 0s - loss: 173.3808
Epoch 96/100
 - 0s - loss: 171.6762
Epoch 97/100
 - 0s - loss: 170.0818
Epoch 98/100
 - 0s - loss: 168.3136
Epoch 99/100
 - 0s - loss: 166.7752
Epoch 100/100
 - 1s - loss: 165.1203

### EVALUATE THE MODEL ON THE TEST DATA AND COMPUTE MEAN SQUARED ERROR

In [17]:

Test_data = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
Test_data

309/309 [==============================] - 0s 726us/step

163.10347903353497

In [18]:
# The mean squared error between the predicted concrete strength and the actual concrete strength
from sklearn.metrics import mean_squared_error

In [19]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)

print("Mean squared error: %.2f"
      % mean_squared_error(y_test, y_pred))

Mean squared error: 163.10

### LIST OF 50 MEAN SQUARED ERRORS

In [20]:
List_Of_Mean_Squared_Errors = 50
mean_squared_errors = []

for i in range(0, List_Of_Mean_Squared_Errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=100, verbose=0)
    
    MEAN_SQUARED_ERRORS = model.evaluate(X_test, y_test, verbose=0)
    print("MEAN_SQUARED_ERRORS "+str(i+1)+": "+str(MEAN_SQUARED_ERRORS))
    y_pred = model.predict(X_test)   
    
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

MEAN_SQUARED_ERRORS 1: 80.47717151827025
MEAN_SQUARED_ERRORS 2: 69.3877373852776
MEAN_SQUARED_ERRORS 3: 44.0764502985192
MEAN_SQUARED_ERRORS 4: 42.3920735911644
MEAN_SQUARED_ERRORS 5: 42.992332211590124
MEAN_SQUARED_ERRORS 6: 45.74917680314444
MEAN_SQUARED_ERRORS 7: 43.63010364520125
MEAN_SQUARED_ERRORS 8: 32.906047463031264
MEAN_SQUARED_ERRORS 9: 36.68479079953289
MEAN_SQUARED_ERRORS 10: 34.14902958052058
MEAN_SQUARED_ERRORS 11: 36.33109177277698
MEAN_SQUARED_ERRORS 12: 32.65727538815594
MEAN_SQUARED_ERRORS 13: 38.81172093758691
MEAN_SQUARED_ERRORS 14: 42.04301072401522
MEAN_SQUARED_ERRORS 15: 34.3671501369538
MEAN_SQUARED_ERRORS 16: 30.688181941949047
MEAN_SQUARED_ERRORS 17: 34.59248034776607
MEAN_SQUARED_ERRORS 18: 33.87442813490587
MEAN_SQUARED_ERRORS 19: 32.87213871779951
MEAN_SQUARED_ERRORS 20: 33.907593347493886
MEAN_SQUARED_ERRORS 21: 30.099072379201747
MEAN_SQUARED_ERRORS 22: 32.1098149740966
MEAN_SQUARED_ERRORS 23: 28.114290959626725
MEAN_SQUARED_ERRORS 24: 31.516577896562595
MEAN_SQUARED_ERRORS 25: 33.29260200204201
MEAN_SQUARED_ERRORS 26: 34.70923939183306
MEAN_SQUARED_ERRORS 27: 29.281291220952006
MEAN_SQUARED_ERRORS 28: 30.434945072556776
MEAN_SQUARED_ERRORS 29: 32.56783892190187
MEAN_SQUARED_ERRORS 30: 33.29699175566145
MEAN_SQUARED_ERRORS 31: 29.85411711263811
MEAN_SQUARED_ERRORS 32: 29.827167986280323
MEAN_SQUARED_ERRORS 33: 29.56869625350804
MEAN_SQUARED_ERRORS 34: 31.98940247470893
MEAN_SQUARED_ERRORS 35: 34.675807372651825
MEAN_SQUARED_ERRORS 36: 38.47365376864436
MEAN_SQUARED_ERRORS 37: 26.9224280416001
MEAN_SQUARED_ERRORS 38: 33.24867502848307
MEAN_SQUARED_ERRORS 39: 31.101566339387862
MEAN_SQUARED_ERRORS 40: 26.813348659033913
MEAN_SQUARED_ERRORS 41: 33.528609427047776
MEAN_SQUARED_ERRORS 42: 27.222372184679347
MEAN_SQUARED_ERRORS 43: 31.332125935353893
MEAN_SQUARED_ERRORS 44: 32.42065384009895
MEAN_SQUARED_ERRORS 45: 32.98255996951008
MEAN_SQUARED_ERRORS 46: 32.421171398224566
MEAN_SQUARED_ERRORS 47: 29.950004392457238
MEAN_SQUARED_ERRORS 48: 33.21933731523532
MEAN_SQUARED_ERRORS 49: 29.94846701390535
MEAN_SQUARED_ERRORS 50: 34.619319051600584

### THE MEAN AND THE STANDARD DEVIATION OF THE MEAN SQUARED ERRORS

In [21]:
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

Mean: 35.36264246753495
Standard Deviation: 9.273758837501006

# DISCUSSION

How does the mean of the mean squared errors compare to that from Step B?
For Step C, by increasing the number of epochs has adjusted the Mean. The Mean of the Mean Squared Errors for Step C went down compared to Step B.